@import 'reset';
@import 'vars';

body {
  font-family: Roboto;
  width: 100%;
  height: 100%;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*
  cursor: none;
  */
}

.gui {
  background-color: midnightblue;
  color: white;
  font-size: 1.6rem;
  z-index: 10;
}

.drum-beat-representations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: .1;
  cursor: pointer;

  width: 32rem;

  font-size: 2.5rem;

  &:hover {
    opacity: 1;
  }
}

.drum-beat-representation {

  width: 5rem;
  height: 5rem;
  text-align: center;
  font-weight: bold;
  background: none;
  border: .5rem solid #0f1836;
  color: #0f1836;

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: #d8d0d1;
  }
}

.game-notes-container {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 5%;
  left: 50%;
  background: none;
  transform: translate(.5, .5);
  width: 18.2rem;
  height: 9rem;
  overflow: hidden;

  & div {
    font-size: 3.5rem;
    transition: all .5s .1s ease;
    opacity: 0;
  }

  &.game-inactive {
    opacity: 0;
  }

  &.game-over {
    opacity: 1;

    & li {
      transform: translateY(-7rem);
      opacity: 0;
    }

    & .congratulations {
      transform: translateY(-7rem);
      opacity: 1;
    }
  }
}

.game-notes {
  transition: all .5s .1s ease;
  display: flex;

  & li {
    padding: 2rem;
    opacity: .5;
    transition: all ease .5s;
  }

  & .active {
    opacity: 1;
    transform: scale(1.3);
  }
}
