@import 'reset';
@import 'vars';

body {
  font-family: Poppins;
  width: 100%;
  height: 100%;
  background: #0f1836;
}

.no-display {
  display: none;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*
  cursor: none;
  */
}

.shortcut-visualisation {
  position: absolute;
  width: 3rem;
  z-index: 10;
  opacity: 0;
  color: white;

  &.active {
    opacity: 1;
  }
}

.gui {
  opacity: 0;
  transform: translate(0, -10rem);
  transition: opacity .5s ease, transform .5s ease, 1s;

  background: linear-gradient(rgba(16, 70, 213, .5), rgb(19, 121, 229, .5));
  color: white;
  padding: 3rem;
  z-index: 10;
  /* display: none; */
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: space-between;

  &.active {
    transform: translate(0, 0);
    opacity: 1;
    /* display: block; */
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1em;

  & label {
    margin-right: .5rem;
  }
}

.bpm-container {
  display: flex;

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
  }
}

.btn {
  padding: 2rem;
  margin-top: 1.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1em;
  border: white solid 1px;
  cursor: pointer;
  display: inline-block;
  margin-right: 1.5rem;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.05);
  }

  &-toggle {
    background-color: white;
    color: #0f1836;
  }
}

.drum-beat-representations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  cursor: pointer;
}

.drum-beat-representation {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  background: none;
  border: .1rem solid white;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background: white;
  }
}

.game-notes-container {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 15%;
  left: 50%;
  background: none;
  transform: translate(.5, .5);
  width: 18.2rem;
  height: 9rem;
  overflow: hidden;

  & div {
    font-size: 3.5rem;
    transition: all .5s .1s ease;
    opacity: 0;
  }

  &.game-inactive {
    opacity: 0;
  }

  &.game-over {
    opacity: 1;

    & li {
      transform: translateY(-7rem);
      opacity: 0;
    }

    & .congratulations {
      transform: translateY(-7rem);
      opacity: 1;
    }
  }
}

.game-notes {
  transition: all .5s .1s ease;
  display: flex;

  & li {
    opacity: .5;
    transition: all ease .5s;
    padding: 2rem;
  }

  & .active {
    opacity: 1;
    transform: scale(1.3);
  }
}

.keys-container {
  width: 50rem;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  opacity: 0;
  color: white;
  bottom: 3%;
  z-index: 5;
  text-align: center;
  font-size: 1.5rem;
  transition: all 1s ease;

  &.active {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  & div {
    display: flex;
    justify-content: space-between;
  }
}

.white-keys {

  & .key {
    width: 5rem;
    height: 5rem;
    border: solid .1rem white;
    font-size: 1.6rem;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.black-keys {

  & .key {

    &:nth-child(1) {
      margin-left: 4.5rem;
    }

    &:nth-child(3) {
      margin-left: 6rem;
    }

    &:nth-child(5) {
      margin-right: 10.5rem;
    }

    height: 5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid .1rem white;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-family: Poppins;
  }
}

.key {
  font-family: sabo;
  animation: none;
  transition: all .3s;

  &.active {
    color: #2ff2ff;
    box-shadow: 0 0 1rem #2ff2ff;
    text-shadow: 0 0 3rem #2ff2ff;
    font-size: 1.2em;
  }
}

.start {

  &-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    font-size: 1.6rem;
    letter-spacing: .1em;
    color: white;
    line-height: 3rem;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-10rem);

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-logo {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5rem;
  }

  &-info {
    height: 50%;
    text-transform: uppercase;
    text-align: center;
  }

  &-info-accent {
    color: rgba(255, 255, 255, .7);
    font-size: 1.2rem;
  }

  &-info-btn {
    padding: 2rem;
    margin-top: 1.1rem;
    border: white solid 1px;
    cursor: pointer;
    display: inline-block;
  }

  &-info-btn:hover {
    background-color: white;
    color: #0f1836;
  }
}
